<div class="box">
  <button class="btn btn-danger delete">X</button>
  <div class="sliderBox">
      <div class="previewBox">
          <img src="../assets/images/placeholder-image.png" id="preview" alt="">
      </div>
      <hr>
      <div class="slider">
          <div class="uploudBtn">
              <label for="upload" class="btn btn-success">+</label>
              <img *ngFor="let image of images; let index = index" src="{{image}}"  alt="">
              <input type="file" id="upload" hidden multiple (change)="getImage($event)">
          </div>
      </div>
      <div class="d-flex justify-content-end align-items-center p-4">
          <mat-icon>arrow_back</mat-icon>
          <mat-icon>arrow_forward</mat-icon>
      </div>
  </div>
</div>
